.right .field {
  margin-bottom: 20px!important;
}
.right .ui.label {
  width: 70px;
  text-align: left;
}
.right .ui.input {
  width: 255px!important;
}

.canvas {
  border: black solid 1px;
  height: 800px;
  width: 800px;
  position: relative;
}
.image {
  position: absolute;
}